{# templates/dashboard/index.html.twig #}
{% block title %}Dashboard{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
	<div class="content-wrapper">
    	<!-- Content Header (Page header) -->
		<section class="content-header">
      		<h1>Dashboard</h1>
      		<ol class="breadcrumb">
        		<li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      		</ol>
    	</section>

    	<!-- Main content -->
    	<section class="content">

    		<div class="row">
		        <div class="col-lg-3 col-xs-6">
		          	<!-- small box -->
		          	<div class="small-box bg-aqua">
		            	<div class="inner">
		              		<h3>18</h3>
		              		<p>Projetos</p>
		            	</div>
		            	<div class="icon">
		              		<i class="ion ion-bag"></i>
		            	</div>
		            	<a href="#" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
		          	</div>
		        </div>
		        <!-- ./col -->
		        <div class="col-lg-3 col-xs-6">
		          	<!-- small box -->
		          	<div class="small-box bg-green">
		            	<div class="inner">
		              		<h3>143</h3>
		              		<p>Cards</p>
		            	</div>
		            	<div class="icon">
		              		<i class="ion ion-stats-bars"></i>
		            	</div>
		            	<a href="#" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
		          	</div>
		        </div>
		        <!-- ./col -->
		        <div class="col-lg-3 col-xs-6">
		          	<!-- small box -->
		          	<div class="small-box bg-yellow">
		            	<div class="inner">
		              		<h3>97</h3>
		              		<p>Usuários</p>
		            	</div>
		            	<div class="icon">
		              		<i class="ion ion-person-add"></i>
		            	</div>
		            <a href="#" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
		          </div>
		        </div>
		        <!-- ./col -->
		        <div class="col-lg-3 col-xs-6">
		          	<!-- small box -->
		          	<div class="small-box bg-red">
		            	<div class="inner">
		              		<h3>312</h3>
		              		<p>Demandas</p>
		            	</div>
		            	<div class="icon">
		              		<i class="ion ion-pie-graph"></i>
		            	</div>
		            	<a href="#" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
		          </div>
		        </div>
		        <!-- ./col -->
		      </div>

    	</section>
    	<!-- /.content -->
  	</div>
{% endblock %}

{% block stylesheets %}
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ asset('css/ionicons.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('css/AdminLTE.css') }}">
    <!-- Custom CSS Login page -->
    <link rel="stylesheet" href="{{ asset('css/skins/skin-blue.css') }}">
{% endblock %}

{% block javascripts %}
	<!-- jQuery 3 -->
	<script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
	<!-- Bootstrap 3.3.7 -->
	<script src="{{ asset('js/bootstrap.min.js') }}"></script>
	<!-- SlimScroll -->
	<script src="{{ asset('js/jquery.slimscroll.min.js') }}"></script>
	<!-- FastClick -->
	<script src="{{ asset('js/fastclick.js') }}"></script>
	<!-- AdminLTE App -->
	<script src="{{ asset('js/adminlte.min.js') }}"></script>
	<script>
	  	$(document).ready(function () {
	    	$('.sidebar-menu').tree()
	  	})
	</script>       
{% endblock %}